<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCE1aTHT8YdKfFm_C5fmY9Ta-zfdNx5Xg</string>
	<key>GCM_SENDER_ID</key>
	<string>100060804942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foratt</string>
	<key>PROJECT_ID</key>
	<string>upload-92830</string>
	<key>STORAGE_BUCKET</key>
	<string>upload-92830.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100060804942:ios:c3ad2c75d469f1d1a4901f</string>
	<key>DATABASE_URL</key>
	<string>https://upload-92830-default-rtdb.firebaseio.com</string>
</dict>
</plist>
